.custom-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    outline: none;
    text-decoration: none;
  }
  
  .custom-button:hover {
    background-color: #0056b3;
  }
  
  .add-button {
    background-color: #36e691ed;
  }
  
  .add-button:hover {
    background-color: #12b265ed;
  }
  
  .cancel-button {
    background-color: orange;
  }
  
  .cancel-button:hover {
    background-color: rgb(224, 147, 4);
  }
  
  .delete-button {
    background-color: rgb(254, 35, 35);
  }
  
  .delete-button:hover {
    background-color: rgb(215, 5, 5);
  }