.header-container {
    width: 100%;
    padding: 20px 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text{
    font-size: 18px;
    font-weight: bold;
}

.header-link{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 50px;
}
